/*
	Name: Furquan Abdurrahman
	File: assignment2b.css
	Date: 18 October 2023
	Assignment 3b CSS file.
*/

html {
    font-family: sans-serif;
  }
  
  /* Your CSS below here */
.bob{
    background-color: red;
    width: 200px;
    height: 200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-shadow: 2px 2px 4px black;
    border-radius: 20px;
    border: 1px solid darkred;
    background-image: linear-gradient(to bottom right, rgba(255, 0, 0, 0) 0%, rgba(255, 0, 0, 0.2) 30%, rgba(255, 0, 0, 0.2) 100%);


}